body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

header {
  background-color: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  display: block;
  padding: 0.75rem;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #444;
  border-radius: 5px;
}

main {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
